USE [ALANKAR_DB]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHANGE_DIMENSION_NAME]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_CHANGE_DIMENSION_NAME]
@OLD_NAME NVARCHAR(100),
@NEW_NAME NVARCHAR(100) = NULL,
@CREATED_BY NVARCHAR(50) = NULL,
@CREATED_ON DATE = NULL
AS
BEGIN 
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	DECLARE @ID BIGINT
	
	BEGIN TRY

	BEGIN TRANSACTION

	

	UPDATE DIMENTION_TYPE_MASTER SET DIMENTION = @NEW_NAME WHERE DIMENTION = @OLD_NAME AND STATUS = 0

	UPDATE DIMENSION_RESTRICTION_MASTER SET DIMENSION = @NEW_NAME WHERE DIMENSION = @OLD_NAME

	UPDATE DIMENTION SET DIMENTION = @NEW_NAME WHERE DIMENTION = @OLD_NAME


	UPDATE DIMENSION_LOG SET DIMENTION = @NEW_NAME WHERE DIMENTION = @OLD_NAME
	
	
	SELECT @ID = ISNULL(MAX(ID), 0) + 1 FROM DIMENSION_NAME_LOGS

	INSERT INTO DIMENSION_NAME_LOGS VALUES(@ID, @OLD_NAME, @NEW_NAME, @CREATED_BY, GETDATE())


	COMMIT
	END TRY
	BEGIN CATCH

	IF(@@TRANCOUNT > 0)
	ROLLBACK
	DECLARE @ERRMSG NVARCHAR(400), @SEVERITY INT
	SELECT @ERRMSG = ERROR_MESSAGE(),@SEVERITY = ERROR_SEVERITY()
	RAISERROR(@ERRMSG, @SEVERITY, 1)

	END CATCH	

	
  
END


GO
/****** Object:  StoredProcedure [dbo].[SP_CHANGE_RM_NAME]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_CHANGE_RM_NAME]
@OLD_NAME NVARCHAR(100),
@NEW_NAME NVARCHAR(100) = NULL,
@CREATED_BY NVARCHAR(50) = NULL,
@CREATED_ON DATE = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	DECLARE @ID BIGINT
	
	BEGIN TRY

	BEGIN TRANSACTION

	
	UPDATE RAW_MATERIAL SET RM_NAME = @NEW_NAME WHERE RM_NAME = @OLD_NAME 

	
	UPDATE RAW_MATERIAL_LOG SET RAW_MATERIAL = @NEW_NAME WHERE RAW_MATERIAL = @OLD_NAME 

	
 	

	
	SELECT @ID = ISNULL(MAX(ID), 0) + 1 FROM RM_NAME_LOGS

	INSERT INTO RM_NAME_LOGS VALUES(@ID, @OLD_NAME, @NEW_NAME, @CREATED_BY, GETDATE())


	COMMIT
	END TRY
	BEGIN CATCH

	IF(@@TRANCOUNT > 0)
	ROLLBACK
	DECLARE @ERRMSG NVARCHAR(400), @SEVERITY INT
	SELECT @ERRMSG = ERROR_MESSAGE(),@SEVERITY = ERROR_SEVERITY()
	RAISERROR(@ERRMSG, @SEVERITY, 1)

	END CATCH	

END

GO
/****** Object:  StoredProcedure [dbo].[SP_CHANGE_STAGE_NAME]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_CHANGE_STAGE_NAME]
@OLD_NAME NVARCHAR(100),
@NEW_NAME NVARCHAR(100) = NULL,
@CREATED_BY NVARCHAR(50) = NULL,
@CREATED_ON DATE = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	DECLARE @ID BIGINT
	
	BEGIN TRY

	BEGIN TRANSACTION

	
	UPDATE STAGE_MASTER SET STAGE = @NEW_NAME WHERE STAGE = @OLD_NAME 

	
	UPDATE TOOL_STAGES_CONFIGURATION SET STAGE_TYPE = @NEW_NAME WHERE STAGE_TYPE = @OLD_NAME
	

	
	SELECT @ID = ISNULL(MAX(ID), 0) + 1 FROM STAGE_TYPE_NAME_LOGS

	INSERT INTO STAGE_TYPE_NAME_LOGS VALUES(@ID, @OLD_NAME, @NEW_NAME, @CREATED_BY, GETDATE())


	COMMIT
	END TRY
	BEGIN CATCH

	IF(@@TRANCOUNT > 0)
	ROLLBACK
	DECLARE @ERRMSG NVARCHAR(400), @SEVERITY INT
	SELECT @ERRMSG = ERROR_MESSAGE(),@SEVERITY = ERROR_SEVERITY()
	RAISERROR(@ERRMSG, @SEVERITY, 1)

	END CATCH	

END


GO
/****** Object:  StoredProcedure [dbo].[SP_CHANGE_SUB_TOOL_NAME]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_CHANGE_SUB_TOOL_NAME]
@OLD_NAME NVARCHAR(100),
@NEW_NAME NVARCHAR(100) = NULL,
@CREATED_BY NVARCHAR(50) = NULL,
@CREATED_ON DATE = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	DECLARE @ID BIGINT
	
	BEGIN TRY

	BEGIN TRANSACTION

	
	SELECT @ID = ISNULL(MAX(ID), 0) + 1 FROM SUB_TOOL_NAME_LOGS

	UPDATE TOOL_STAGES_CONFIGURATION SET TOOL_SUB_TYPE = @NEW_NAME WHERE TOOL_SUB_TYPE = @OLD_NAME

	UPDATE TOOL_TYPE_RM_CONFIGURATION SET TOOL_SUB_TYPE = @NEW_NAME WHERE TOOL_SUB_TYPE = @OLD_NAME


	INSERT INTO SUB_TOOL_NAME_LOGS VALUES(@ID, @OLD_NAME, @NEW_NAME, @CREATED_BY, GETDATE())


	
	


	COMMIT
	END TRY
	BEGIN CATCH

	IF(@@TRANCOUNT > 0)
	ROLLBACK
	DECLARE @ERRMSG NVARCHAR(400), @SEVERITY INT
	SELECT @ERRMSG = ERROR_MESSAGE(),@SEVERITY = ERROR_SEVERITY()
	RAISERROR(@ERRMSG, @SEVERITY, 1)

	END CATCH	

END


GO
/****** Object:  StoredProcedure [dbo].[SP_CHANGE_TOOL_NAME]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_CHANGE_TOOL_NAME]
@OLD_NAME NVARCHAR(100),
@NEW_NAME NVARCHAR(100) = NULL,
@CREATED_BY NVARCHAR(50) = NULL,
@CREATED_ON DATE = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	DECLARE @ID BIGINT
	
	BEGIN TRY

	BEGIN TRANSACTION

	
	SELECT @ID = ISNULL(MAX(ID), 0) + 1 FROM TOOL_NAME_LOGS

	UPDATE TOOL_STAGES_CONFIGURATION SET TOOL_TYPE = @NEW_NAME WHERE TOOL_TYPE = @OLD_NAME

	UPDATE TOOL_TYPE_RM_CONFIGURATION SET TOOL_TYPE = @NEW_NAME WHERE TOOL_TYPE = @OLD_NAME


	INSERT INTO TOOL_NAME_LOGS VALUES(@ID, @OLD_NAME, @NEW_NAME, @CREATED_BY, GETDATE())


	
	


	COMMIT
	END TRY
	BEGIN CATCH

	IF(@@TRANCOUNT > 0)
	ROLLBACK
	DECLARE @ERRMSG NVARCHAR(400), @SEVERITY INT
	SELECT @ERRMSG = ERROR_MESSAGE(),@SEVERITY = ERROR_SEVERITY()
	RAISERROR(@ERRMSG, @SEVERITY, 1)

	END CATCH	

END


GO
/****** Object:  StoredProcedure [dbo].[SP_DIMENSION_CONFIGURATION_FUNCTIONS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_DIMENSION_CONFIGURATION_FUNCTIONS]
	@CONFIG_ID BIGINT,
	@DIMENSION NVARCHAR(50) = NULL,
	@CREATED_BY NVARCHAR(50) = NULL,
	@CREATED_ON DATE = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @ID BIGINT
	SELECT @ID = ISNULL(MAX(ID), 0) + 1 FROM DIMENSION_CONFIGURATION
	INSERT INTO DIMENSION_CONFIGURATION VALUES
	(
		@ID,
		@CONFIG_ID,
		@DIMENSION,
		@CREATED_BY,
		GETDATE()
	)
    -- Insert statements for procedure here
	
END


GO
/****** Object:  StoredProcedure [dbo].[SP_DIMENSION_LOG_FUNCTIONS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DIMENSION_LOG_FUNCTIONS]
	@ID BIGINT,
	@PARTY_CODE NVARCHAR(50) = NULL,
	@ITEM_CODE NVARCHAR(50) = NULL,
	@TOOL_TYPE NVARCHAR(50) = NULL,
	@TOOL_SUB_TYPE NVARCHAR(50) = NULL,
	@DIMENSION NVARCHAR(50) = NULL,
	@VALUE BIGINT = NULL,
	@CREATED_BY NVARCHAR(50) = NULL,
	@CREATED_ON DATE = NULL,
	@MODIFIED_BY NVARCHAR(50) = NULL,
	@MODIFIED_ON DATE = NULL,
	@ACTION NVARCHAR(50) = NULL
AS
	IF(@ACTION = 'INSERT')
	BEGIN
		INSERT INTO DIMENSION_LOG VALUES
		(
			@ID,
			@PARTY_CODE,
			@ITEM_CODE,
			@TOOL_TYPE,
			@TOOL_SUB_TYPE,
			@DIMENSION,
			@VALUE,
			@CREATED_BY ,
			GETDATE(),
			NULL, 
			NULL
		)

	END
	IF(@ACTION = 'UPDATE')
	BEGIN
		UPDATE DIMENSION_LOG SET
		TOOL_TYPE = @TOOL_TYPE,
		TOOL_SUB_TYPE = @TOOL_SUB_TYPE,
		DIMENTION = @DIMENSION,
		VALU = @VALUE
		WHERE 
		PARTY_CODE = @PARTY_CODE
		AND
		ITEM_CODE = @ITEM_CODE
		AND 
		ID = @ID
	END
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[SP_DIMENSION_RESTRICTION_MASTER]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_DIMENSION_RESTRICTION_MASTER]
 @ID BIGINT,
 @DIMENSION NVARCHAR(50) = NULL,
 @Value NVARCHAR(50) = NULL,
 @CreatedBy NVARCHAR(50) = NULL,
 @CreatedOn DATE = NULL,
 @UpdatedBy NVARCHAR(50) = NULL,
 @UpdatedOn DATE = NULL,
 @ACTION NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@ACTION = 'INSERT')
	BEGIN
		INSERT INTO DIMENSION_RESTRICTION_MASTER VALUES
		(
			@ID,
			@DIMENSION,
			@Value,
			@CreatedBy,
			GETDATE(),
			NULL,
			NULL
		)
	END
	IF(@ACTION = 'UPDATE')
	BEGIN
		UPDATE DIMENSION_RESTRICTION_MASTER SET
			DIMENSION = @DIMENSION,
			Value = @Value,
			UpdatedBy = @UpdatedBy,
			UpdatedOn = GETDATE()
			where 
			ID = @ID
			
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DIMENTION_FUNCTIONS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DIMENTION_FUNCTIONS]
	@ID BIGINT,
	@TOOL_TYPE NVARCHAR(50),
	@TOOL_SUB_TYPE NVARCHAR(50),
	@DIMENTION NVARCHAR(50),
	
	@CREATED_BY NVARCHAR(50) = NULL,
	@CREATED_ON DATE = NULL,
	@MODIFIED_BY NVARCHAR(50) = NULL,
	@MODIFIED_ON DATE = NULL,
	@ACTION NVARCHAR(50)
AS
	IF(@ACTION = 'INSERT')
	BEGIN
		INSERT INTO DIMENTION VALUES
		(
			@ID,
			@TOOL_TYPE,
			@TOOL_SUB_TYPE,
			@DIMENTION,
		
			@CREATED_BY,
			GETDATE(),
			NULL,
			NULL
		)
	END
	IF(@ACTION = 'UPDATE')
	BEGIN
		UPDATE DIMENTION SET
		TOOL_TYPE = @TOOL_TYPE,
		TOOL_SUB_TYPE = @TOOL_SUB_TYPE,
		DIMENTION = @DIMENTION,
		
		MODIFIED_BY = @MODIFIED_BY,
		MODIFIED_ON = GETDATE()
		WHERE
		ID = @ID
		
	END
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[SP_DIMENTION_TRANSACTION_FUNCTIONS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DIMENTION_TRANSACTION_FUNCTIONS]
@ID BIGINT,
@OC_NO NVARCHAR(50),
@TOOL_TYPE NVARCHAR(50) = NULL,
@TOOL_SUB_TYPE NVARCHAR(50) = NULL,
@DIMENTION NVARCHAR(50) = NULL,
@VALUE NVARCHAR(50) = NULL,
@CREATED_BY NVARCHAR(50) = NULL,
@CREATED_ON DATE = NULL,
@MODIFIED_BY NVARCHAR(50) = NULL,
@MODIFIED_ON DATE = NULL,
@ACTION NVARCHAR(50)	
AS
	IF(@ACTION = 'INSERT')
	BEGIN
		INSERT INTO DIMENTION_TRANSACTIONS VALUES
		(
			@ID, @OC_NO,   @TOOL_TYPE, @TOOL_SUB_TYPE, @DIMENTION, @VALUE, @CREATED_BY, GETDATE(), NULL, NULL
		)
	END

	IF(@ACTION = 'UPDATE')
	BEGIN
		UPDATE DIMENTION_TRANSACTIONS SET
		TOOL_TYPE = @TOOL_TYPE,
		TOOL_SUB_TYPE = @TOOL_SUB_TYPE,
		DIMENTION = @DIMENTION,
		VALU = @VALUE,
		MODIFIED_BY = @MODIFIED_BY,
		MODIFIED_ON = GETDATE()
		WHERE
		
		ID = @ID
	END
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[SP_DIMENTION_TYPE_MASTER]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DIMENTION_TYPE_MASTER]
	@ID BIGINT,
	@DIMENTION NVARCHAR(50),
	@UNIT NVARCHAR(50),
	@SEQUENCE BIGINT = NULL,
	@CREATED_BY NVARCHAR(50),
	@CREATED_ON DATE = NULL,
	@MODIFIED_BY NVARCHAR(50) = NULL,
	@MODIFIED_ON DATE = NULL,
	@STATUS INT = NULL,
	@ACTION NVARCHAR(50)


AS
	IF(@ACTION = 'INSERT')
	BEGIN
		INSERT INTO DIMENTION_TYPE_MASTER VALUES
		(
			@ID, @DIMENTION, @UNIT, @SEQUENCE, @CREATED_BY, GETDATE(), NULL, NULL, @STATUS
		)
	END

	IF(@ACTION = 'UPDATE')
	BEGIN
		UPDATE DIMENTION_TYPE_MASTER SET
		DIMENTION = @DIMENTION,
		UNIT = @UNIT,
		SEQUENCE = @SEQUENCE,
		MODIFIED_BY = @MODIFIED_BY,
		MODIFIED_ON = GETDATE()
		WHERE 
		ID = @ID
	END
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[SP_DRG_DOCS_FUNCTION]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_DRG_DOCS_FUNCTION] 
@DRG_ID BIGINT,
@DRG_NAME NVARCHAR(50),
@DRG_PATH NVARCHAR(MAX),
@PARTY_CODE NVARCHAR(50),
@ITEM_CODE NVARCHAR(50),
@DRL NVARCHAR(50) = NULL,
@UPLOADED_BY NVARCHAR(50) = NULL,
@UPLOADED_ON DATE = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO DRG_DOCS VALUES
	(
		@DRG_ID,
		@DRG_NAME,
		@DRG_PATH,
		@PARTY_CODE,
		@ITEM_CODE,
		@DRL,
		@UPLOADED_BY,
		GETDATE()
	)

END


GO
/****** Object:  StoredProcedure [dbo].[SP_EMP_MASTER_FUNCTIONS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_EMP_MASTER_FUNCTIONS] 
	-- Add the parameters for the stored procedure here
	@EMP_CODEOLD nvarchar(50) = null,
	@EMP_CODE nvarchar(50) = null,
	@EMP_FNAME nvarchar(50) = null,
	@EMP_MNAME nvarchar(50)= null,
	@EMP_LNAME nvarchar(50) = null,
	@ADDRESS nvarchar(250) = null,
	@LOCATION nvarchar(50) = null,
	@SEX nvarchar(50) = null,
	@CITY nvarchar(50) = null,
	@DISTRICT NVARCHAR(50) = NULL,
	@MARITIAL_STATUS NVARCHAR(50) = NULL,
	@DOB NVARCHAR(50) = NULL,
	@DOJ NVARCHAR(50) = NULL,
	@DOL NVARCHAR(50) = NULL,
	@emp_pwd nvarchar(50) = null,
	@emp_status int = null,
	@CREATED_ON datetime = null,
	@CREATED_BY nvarchar(50) = null,
	@MODIFIED_ON datetime = null,
	@MODIFIED_BY nvarchar(50) = null,
	@Email nvarchar(100) = null,
	@ACTION nvarchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if(@ACTION = 'INSERT')
	begin
		insert into EMP_MASTER values
		(
			@EMP_CODEOLD,
			@EMP_CODE,
			@EMP_FNAME,
			@EMP_MNAME,
			@EMP_LNAME,
			@ADDRESS,
			@LOCATION,
			@SEX,
			@CITY,
			@DISTRICT,
			@MARITIAL_STATUS,
			@DOB,
			@DOJ,
			@DOL,
			@emp_pwd,
			@emp_status,
			GETDATE(),
			@CREATED_BY,
			null,
			null,
			@Email
		)
	end

	if(@ACTION = 'UPDATE')
	begin
		update EMP_MASTER set 
		EMP_FNAME = @EMP_FNAME,
		EMP_MNAME = @EMP_MNAME,
		EMP_LNAME = @EMP_LNAME,
		ADDRESS = @ADDRESS,
		LOCATION = @LOCATION,
		SEX = @SEX,
		CITY = @CITY,
		DISTRICT = @DISTRICT,
		MARITIAL_STATUS = @MARITIAL_STATUS,
		DOB = @DOB,
		DOJ = @DOJ,
		DOL = @DOL,
		emp_pwd = @emp_pwd,
		MODIFIED_ON = GETDATE(),
		MODIFIED_BY = @MODIFIED_BY,
		Email = @Email
		where 
		EMP_CODE = @EMP_CODE

	end
END


GO
/****** Object:  StoredProcedure [dbo].[SP_FIIL_SUB_TOOL_TYPE]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_FIIL_SUB_TOOL_TYPE]
	@MAIN_TOOL_TYPE NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT SUB_TYPE FROM MASTER_TOOL WHERE MAIN_TYPE = @MAIN_TOOL_TYPE AND MASTER_TOOL.STATUS = 0 
END

GO
/****** Object:  StoredProcedure [dbo].[SP_FILL_TOOL_BY_MAIN_TYPE]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_FILL_TOOL_BY_MAIN_TYPE] 
@MAIN_TOOL_TYPE NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ID, TOOL_TYPE, MAIN_TYPE, SUB_TYPE, SEQUENCE FROM MASTER_TOOL WHERE STATUS = 0 AND MAIN_TYPE = @MAIN_TOOL_TYPE
END


GO
/****** Object:  StoredProcedure [dbo].[SP_GET_DATA_TO_MAIN_SUB_TYPE]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GET_DATA_TO_MAIN_SUB_TYPE] 
@MAIN_TYPE NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [SUB_TYPE] FROM MASTER_TOOL WHERE MAIN_TYPE = @MAIN_TYPE
END


GO
/****** Object:  StoredProcedure [dbo].[SP_GET_EMP_MASTER_DATA]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GET_EMP_MASTER_DATA] 
@EMP_CODE nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		[EMP_FNAME],
		[EMP_MNAME],
		[EMP_LNAME],
		[ADDRESS],
		[LOCATION],
		[CITY],
		[DISTRICT],
		[SEX],
		[MARITIAL_STATUS],
		[DOB],
		[DOJ],
		[DOL],
		[emp_pwd],
		[emp_status],
		[CREATED_ON],
		[CREATED_BY],
		[MODIFIED_ON],
		[MODIFIED_BY],
		Email
		from 
		
		EMP_MASTER
		where EMP_CODE = @EMP_CODE
END


GO
/****** Object:  StoredProcedure [dbo].[SP_GET_EMP_MASTER_DETAILS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GET_EMP_MASTER_DETAILS] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		EMP_CODE,
		[EMP_FNAME]+' '+[EMP_LNAME] as 	 'Employee Name',
		SEX,
		MARITIAL_STATUS,
		DOB,
		DOJ,
		DOL
		from EMP_MASTER 
		where emp_status = 0

END


GO
/****** Object:  StoredProcedure [dbo].[SP_GET_FOC_NUMBER]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GET_FOC_NUMBER] 
@PARTY_CODE NVARCHAR(50),
@ITEM_CODE NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TOP 1
		OC_TRANSACTIONS.OC_NO FROM OC_TRANSACTIONS
		WHERE 
		PARTY_CODE = @PARTY_CODE 
		AND 
		ITEM_CODE = @ITEM_CODE
		ORDER BY ID ASC
END


GO
/****** Object:  StoredProcedure [dbo].[SP_GET_MASTER_PARTY_DATA]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GET_MASTER_PARTY_DATA]
	@PARTY_CODE NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT
		[PARTY_CODE]
      ,	[PARTY_NAME]
      ,	[SHORT_NAME]
      ,	[FL_ADD]
      ,	[SL_ADD]
      ,	[CITY]
      ,	[PIN]
      ,	[PHONE]
      ,	[FAX]
      ,	[CONTACT1]
      ,	[C1DESIG]
      ,	[CONTACT2]
      ,	[C2DESIG]
      ,	[VENDCODE]
      ,	[ECCNO]
      ,	[CSTNO]
		FROM
		MASTER_PARTY
		WHERE PARTY_CODE = @PARTY_CODE
END


GO
/****** Object:  StoredProcedure [dbo].[SP_GET_OC_TRANSACTIONS_DETAILS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GET_OC_TRANSACTIONS_DETAILS]
	-- Add the parameters for the stored procedure here
	@OCNO nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select 
	OC_NO,
	OCDT,
	PARTY_CODE,
	ITEM_CODE,
	DRGNO,
	FOCNO,
	OPEN_OC,
	GRPPRICE,
	DISC,
	NETPRICE,
	TOOLTYPE,
	MATCHTYPE,
	DESC1,
	OCQTY
	

	from OC_TRANSACTIONS

	where 
	OC_TRANSACTIONS.OC_NO = @OCNO
END


GO
/****** Object:  StoredProcedure [dbo].[SP_GET_OC_UPDATION_DATA]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GET_OC_UPDATION_DATA] 
@OC_NO NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		OC.ITEM_CODE, 
		OC.DRGNO, 
		MP.PARTY_CODE, 
		OC.OCQTY, 
		OC.TOOLTYPE, 
		OC.MATCHTYPE FROM OC_TRANSACTIONS AS OC INNER JOIN MASTER_PARTY AS MP
		 ON OC.PARTY_CODE = MP.PARTY_CODE
		 WHERE OC.OC_NO = @OC_NO
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GET_RM_ON_OC]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GET_RM_ON_OC]
	@TOOL_TYPE NVARCHAR(50),
	@SUB_TOOL_TYPE NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT RAW_MATERIAL_CONFIG.RAW_MATERIAL FROM RAW_MATERIAL_CONFIG FULL JOIN TOOL_TYPE_RM_CONFIGURATION ON RAW_MATERIAL_CONFIG.CONFIG_ID = TOOL_TYPE_RM_CONFIGURATION.ID WHERE TOOL_TYPE_RM_CONFIGURATION.TOOL_TYPE = @TOOL_TYPE AND TOOL_TYPE_RM_CONFIGURATION.TOOL_SUB_TYPE = @SUB_TOOL_TYPE AND TOOL_TYPE_RM_CONFIGURATION.STATUS = 0
END


GO
/****** Object:  StoredProcedure [dbo].[SP_GET_SCHEDULE_DATA]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GET_SCHEDULE_DATA] 
	@Id BIGINT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		ID,
		OCNO,
		TOOLTYPE,
		PARTYCODE,
		PRICE,
		OQTY,
		QTY,
		SCHDATE
		FROM 
		SCHEDULE_DETAILS
		WHERE 
		ID = @Id
END


GO
/****** Object:  StoredProcedure [dbo].[SP_GET_SCHEDULE_DETAILS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GET_SCHEDULE_DETAILS]
@OCNO nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT	
		ID, OCNO, TOOLTYPE, PARTYCODE, PRICE, OQTY, QTY, SCHDATE FROM SCHEDULE_DETAILS WHERE OCNO = @OCNO
END


GO
/****** Object:  StoredProcedure [dbo].[SP_GET_SCHEDULE_DETAILS_BY_OCNO]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GET_SCHEDULE_DETAILS_BY_OCNO] 
	@OCNO nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Select
		[OCNO],
		[TOOLTYPE],
		[PARTYCODE],
		
		[OQTY],
		[QTY],
		[SCHDATE]
		from 
		SCHEDULE_DETAILS
		where 
		OCNO = @OCNO
		
END


GO
/****** Object:  StoredProcedure [dbo].[SP_MANAGE_PARTY_MASTER]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_MANAGE_PARTY_MASTER] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT
		[PARTY_CODE],
		[PARTY_NAME],
		[CITY],
		[PHONE]
		FROM
		MASTER_PARTY
		WHERE STATUS = 0
END


GO
/****** Object:  StoredProcedure [dbo].[SP_MASTER_PARTY_FUNCTIONS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_MASTER_PARTY_FUNCTIONS] 
	@ID BIGINT,
	@PARTY_CODE NVARCHAR(50) = NULL,
	@PARTY_NAME NVARCHAR(50) = NULL,
	@SHORT_NAME NVARCHAR(50) = NULL,
	@FL_ADD NVARCHAR(50) = NULL,
	@SL_ADD NVARCHAR(50) = NULL,
	@CITY NVARCHAR(50) = NULL,
	@PIN NVARCHAR(50) = NULL,
	@PHONE NVARCHAR(50) = NULL,
	@FAX NVARCHAR(50) = NULL,
	@CONTACT1 NVARCHAR(50) = NULL,
	@C1DESIG NVARCHAR(50) = NULL,
	@CONTACT2 NVARCHAR(50) = NULL,
	@C2DESIG NVARCHAR(50) = NULL,
	@VENDCODE NVARCHAR(50) = NULL,
	@ECCNO NVARCHAR(50) = NULL,
	@CSTNO NVARCHAR(50) = NULL,
	@CREATED_ON NVARCHAR(50) = NULL,
	@CREATED_BY NVARCHAR(50) = NULL,
	@MODIFIED_ON NVARCHAR(50) = NULL,
	@MODIFIED_BY NVARCHAR(50) = NULL,
	@STATUS INT = NULL,
	@ACTION NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@ACTION = 'INSERT')
	BEGIN
		INSERT INTO MASTER_PARTY VALUES
		(
			@ID,
			@PARTY_CODE,
			@PARTY_NAME,
			@SHORT_NAME,
			@FL_ADD,
			@SL_ADD,
			@CITY,
			@PIN,
			@PHONE,
			@FAX,
			@CONTACT1,
			@C1DESIG,
			@CONTACT2,
			@C2DESIG,
			@VENDCODE,
			@ECCNO,
			@CSTNO,
			@CREATED_BY,
			GETDATE(),
			NULL,
			NULL, 
			@STATUS
		)
	END
	IF(@ACTION = 'UPDATE')
	BEGIN
		UPDATE MASTER_PARTY SET
		
		PARTY_NAME = @PARTY_NAME,
		SHORT_NAME = @SHORT_NAME,
		FL_ADD = @FL_ADD,
		SL_ADD = @SL_ADD,
		CITY = @CITY,
		PIN = @PIN,
		PHONE = @PHONE,
		FAX = @FAX,
		CONTACT1 = @CONTACT1,
		C1DESIG = @C1DESIG,
		CONTACT2 = @CONTACT2,
		C2DESIG = @C2DESIG,
		VENDCODE = @VENDCODE,
		ECCNO = @ECCNO,
		CSTNO = @CSTNO,
		MODIFIED_BY = @MODIFIED_BY,
		MODIFIED_ON = GETDATE()
		WHERE 
		PARTY_CODE = @PARTY_CODE
	END
END


GO
/****** Object:  StoredProcedure [dbo].[SP_MASTER_STAGE_TYPE_FUNCTIONS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_MASTER_STAGE_TYPE_FUNCTIONS]
	-- Add the parameters for the stored procedure here
	@ID BIGINT,
	@STAGE_TYPE NVARCHAR(50),
	@ACTION NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@ACTION = 'INSERT')
	BEGIN
		INSERT INTO MASTER_STAGE_TYPE VALUES
		(
		@ID,
		@STAGE_TYPE
		)
	END
	IF(@ACTION = 'UPDATE')
	BEGIN
		UPDATE MASTER_STAGE_TYPE SET
		STAGE_TYPE = @STAGE_TYPE
		WHERE ID = @ID
	END
END


GO
/****** Object:  StoredProcedure [dbo].[SP_MASTER_TOOL_TYPE_FUNCTIONS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_MASTER_TOOL_TYPE_FUNCTIONS]
	@ID BIGINT,
	@MASTER_TOOL_TYPE NVARCHAR(50),
	@SEQUENCE BIGINT = NULL,
	@STATUS INT = NULL,
	@CREATED_BY NVARCHAR(50) = NULL,
	@CREATED_ON DATE = NULL,
	@MODIFIED_BY NVARCHAR(50) = NULL,
	@MODIFIED_ON DATE = NULL,
	@ACTION NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@ACTION = 'INSERT')
	BEGIN
		INSERT INTO MASTER_TOOL_TYPE VALUES
		(
			@ID,
			@MASTER_TOOL_TYPE,
			@SEQUENCE,
			@STATUS,
			@CREATED_BY,
			GETDATE(),
			NULL,
			NULL
		)
	END

	IF(@ACTION = 'UPDATE')
	BEGIN
		UPDATE MASTER_TOOL_TYPE SET 
		MASTER_TOOL_TYPE = @MASTER_TOOL_TYPE,
		SEQUENCE = @SEQUENCE,
		MODIFIED_BY = @MODIFIED_BY,
		MODIFIED_ON = GETDATE()
		WHERE ID = @ID 
	END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_OC_ACTIONS_TRANSACTIONS_FUNCTIONS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_OC_ACTIONS_TRANSACTIONS_FUNCTIONS]
	@ID BIGINT,
	@OCNO NVARCHAR(110),
	@REMARKS NVARCHAR(200) = NULL,
	@STATUS NVARCHAR(50) = NULL,
	@CREATED_BY NVARCHAR(50) = NULL,
	@CREATED_ON DATE = NULL,
	@MODIFIED_BY NVARCHAR(50) = NULL,
	@MODIFIED_ON DATE = NULL,
	@ACTION NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@ACTION = 'INSERT')
	BEGIN
		INSERT INTO OC_ACTIONS VALUES
		(
			@ID,
			@OCNO,
			@REMARKS,
			@STATUS,
			@CREATED_BY,
			GETDATE(),
			NULL,
			NULL
		)
	END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_OC_DOCS_FUNCTIONS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_OC_DOCS_FUNCTIONS]
@DOC_ID BIGINT,
@OC_NO NVARCHAR(50),
@DOC_NAME NVARCHAR(50),
@DOC_PATH NVARCHAR(MAX),
@UPLOADED_BY NVARCHAR(50) = NULL,
@UPLOADED_ON DATE = NULL

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO OC_DOCS VALUES
	(
		@DOC_ID,
		@OC_NO,
		@DOC_NAME,
		@DOC_PATH,
		@UPLOADED_BY,
		GETDATE()
	)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_OC_ENTRIES]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: SQLQuery1.sql|7|0|C:\Users\Anand\AppData\Local\Temp\~vs4783.sql
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_OC_ENTRIES] 

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Select 
	ID,
		OC_NO, 
		OCDT, 
		PARTY_CODE,
		ITEM_CODE, 
		TOOLTYPE, 
		MATCHTYPE, 
		OCQTY
	 from OC_TRANSACTIONS
	 order by ID ASC
END


GO
/****** Object:  StoredProcedure [dbo].[SP_OC_Transactions_Functions]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_OC_Transactions_Functions]
	@OCNO NVARCHAR(50) = null,
	@OCNO_EXTN NVARCHAR(50) = NULL,
	@OC_NO NVARCHAR(50) = NULL,
	@OCDT NVARCHAR(50) = NULL,
	@PONO NVARCHAR(50) = NULL,
	@FOCNO NVARCHAR(50) = NULL,
	@QTNNO NVARCHAR(50) = NULL,
	@QTNDT NVARCHAR(50) = NULL,
	@OPEN_OC NVARCHAR(50) = NULL,
	@PARTY_CODE NVARCHAR(50) = NULL,
	@GRPPRICE FLOAT = NULL,
	@DISC FLOAT = NULL,
	@NETPRICE FLOAT = NULL,
	@TOOLTYPE NVARCHAR(50) = NULL,
	@MATCHTYPE NVARCHAR(50) = NULL,
	@ITEM_CODE NVARCHAR(50) = NULL,
	@DRGNO NVARCHAR(50) = NULL,
	@DESC1 NVARCHAR(50)= NULL,
	@OCQTY NVARCHAR(50)= NULL,
	@NOT_ISSUE FLOAT= NULL,
	@IN_PROCESS FLOAT= NULL,
	@DESPATCH FLOAT= NULL,
	@P_RM FLOAT= NULL,
	@P_DC FLOAT= NULL,
	@P_LDS FLOAT= NULL,
	@P_OTHER FLOAT= NULL,
	@P_YISS FLOAT= NULL,
	@P_NDS FLOAT= NULL,
	@OTHER_REM FLOAT= NULL,
	@TURING FLOAT= NULL,
	@TURNSALV FLOAT= NULL,
	@TURNSCRAP FLOAT= NULL,
	@MILLING FLOAT= NULL,
	@MILLSALV FLOAT= NULL,
	@MILLSCRAP FLOAT= NULL,
	@HT FLOAT= NULL,
	@HTBEND FLOAT= NULL,
	@HTSCRAP FLOAT= NULL,
	@CYL FLOAT= NULL,
	@CYLSALV FLOAT= NULL,
	@CYLSCRAP FLOAT= NULL,
	@TC FLOAT= NULL,
	@TCSCRAP FLOAT= NULL,
	@TCSALV FLOAT= NULL,
	@CLEAN FLOAT= NULL,
	@SALVAGE FLOAT= NULL,
	@SCRAP FLOAT= NULL,
	@RMDIA FLOAT= NULL,
	@RMLENGTH FLOAT= NULL,
	@RMWEIGHT FLOAT= NULL,
	@RMVALUE FLOAT= NULL,
	@MTRL FLOAT= NULL,
	@DIA FLOAT= NULL,
	@FL FLOAT= NULL,
	@OAL FLOAT= NULL,
	@SHANK FLOAT= NULL,
	@PSDIA FLOAT= NULL,
	@SMALLDIA FLOAT= NULL,
	@STEPLNGTH FLOAT= NULL,
	@BIGDIA FLOAT= NULL,
	@BOREDIA FLOAT= NULL,
	@GUIDEDIA FLOAT= NULL,
	@GUIDELNGTH FLOAT = NULL,
	@WIDTH FLOAT = NULL,
	@ANGLE FLOAT = NULL,
	@PILOTBORE FLOAT = NULL,
	@PAYTERMS FLOAT = NULL,
	@SLTAX FLOAT = NULL,
	@PACKING FLOAT = NULL,
	@FREIGHT FLOAT = NULL,
	@DIMENSION FLOAT = NULL,
	@STATUS INT = NULL,
	@action NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@action = 'INSERT')
	BEGIN
		INSERT INTO OC_TRANSACTIONS VALUES
		(
			null,
	null ,
	@OC_NO ,
	@OCDT ,
	@PONO ,
	@FOCNO ,
	@QTNNO ,
	@QTNDT ,
	@OPEN_OC ,
	@PARTY_CODE,
	@GRPPRICE ,
	@DISC ,
	@NETPRICE ,
	@TOOLTYPE ,
	@MATCHTYPE ,
	@ITEM_CODE ,
	@DRGNO ,
	@DESC1 ,
	@OCQTY ,
	@NOT_ISSUE ,
	@IN_PROCESS ,
	@DESPATCH ,
	@P_RM ,
	@P_DC ,
	@P_LDS ,
	@P_OTHER ,
	@P_YISS ,
	@P_NDS ,
	@OTHER_REM ,
	@TURING ,
	@TURNSALV ,
	@TURNSCRAP ,
	@MILLING ,
	@MILLSALV ,
	@MILLSCRAP ,
	@HT ,
	@HTBEND ,
	@HTSCRAP ,
	@CYL ,
	@CYLSALV ,
	@CYLSCRAP ,
	@TC ,
	@TCSCRAP ,
	@TCSALV ,
	@CLEAN ,
	@SALVAGE ,
	@SCRAP ,
	@RMDIA ,
	@RMLENGTH ,
	@RMWEIGHT ,
	@RMVALUE ,
	@MTRL ,
	@DIA ,
	@FL ,
	@OAL ,
	@SHANK ,
	@PSDIA ,
	@SMALLDIA ,
	@STEPLNGTH ,
	@BIGDIA ,
	@BOREDIA ,
	@GUIDEDIA ,
	@GUIDELNGTH ,
	@WIDTH ,
	@ANGLE ,
	@PILOTBORE ,
	@PAYTERMS ,
	@SLTAX ,
	@PACKING ,
	@FREIGHT ,
	@DIMENSION ,
	@STATUS
		)
	END

	IF(@action = 'UPDATE')
	BEGIN
		UPDATE OC_TRANSACTIONS SET
		OCDT = @OCDT,
		PARTY_CODE = @PARTY_CODE,
		ITEM_CODE = @ITEM_CODE,
		DRGNO = @DRGNO,
		FOCNO =@FOCNO,
		OPEN_OC = @OPEN_OC,
		GRPPRICE = @GRPPRICE,
		DISC = @DISC,
		NETPRICE = @NETPRICE,
		TOOLTYPE = @TOOLTYPE,
		MATCHTYPE = @MATCHTYPE,
		DESC1 = @DESC1,
		OCQTY = @OCQTY,
		DIMENSION = @DIMENSION,
		DIA = @DIA,
		FL = @FL,
		OAL = @OAL,
		SHANK = @SHANK,
		PSDIA = @PSDIA,
		SMALLDIA = @SMALLDIA,
		STEPLNGTH = @STEPLNGTH,
		BIGDIA = @BIGDIA,
		BOREDIA = @BOREDIA,
		GUIDEDIA = @GUIDEDIA,
		GUIDELNGTH = @GUIDELNGTH,
		WIDTH = @WIDTH,
		ANGLE = @ANGLE,
		PILOTBORE = @PILOTBORE,
		RMDIA = @RMDIA,
		RMLENGTH = @RMLENGTH
		WHERE 
		OC_NO = @OC_NO

	END
END


GO
/****** Object:  StoredProcedure [dbo].[SP_OC_TRANSACTIONS_LOG_FUNCTIONS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_OC_TRANSACTIONS_LOG_FUNCTIONS]
@TRANSACTION_ID BIGINT,
@DATE DATE = NULL,
@PARTY_CODE NVARCHAR(50) = NULL,
@ITEM_CODE NVARCHAR(50) = NULL,
@DRL NVARCHAR(50) = NULL,
@DRD NVARCHAR(50) = NULL,
@DRGNO NVARCHAR(50) = NULL,

@FOC_NO NVARCHAR(100) = NULL,

@IS_OPEN NVARCHAR = NULL,
@GROSS_PRICE BIGINT = NULL,
@DISCOUNT INT = NULL,
@NET_PRICE BIGINT = NULL,
@DESCRIPTION NVARCHAR(50) = NULL,
@TOOL_TYPE NVARCHAR(50) = NULL,
@SUB_TOOL_TYPE NVARCHAR(50) = NULL,
@CREATED_BY NVARCHAR(50) = NULL,
@CREATED_ON DATE = NULL,
@MODIFIED_BY NVARCHAR(50) = NULL,
@MODIFIED_ON DATE = NULL,
@ACTION NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@ACTION = 'INSERT')
	BEGIN
		INSERT INTO OC_TRANSACTIONS_LOG VALUES
		(
			@TRANSACTION_ID,
			GETDATE(),
			@PARTY_CODE,
			@ITEM_CODE,
			@DRL,
			@DRD,
			@DRGNO,
			
			@FOC_NO,
			@IS_OPEN,
			@GROSS_PRICE,
			@DISCOUNT,
			@NET_PRICE,
			@DESCRIPTION,
			@TOOL_TYPE,
			@SUB_TOOL_TYPE,
			@CREATED_BY,
			GETDATE(),
			NULL,
			NULL

		)
	END
	IF(@ACTION = 'UPDATE')
	BEGIN
		UPDATE OC_TRANSACTIONS_LOG SET
		DATE = GETDATE(),
		DRGNO = @DRGNO,
		FOC_NO = @FOC_NO,
		IS_OPEN = @IS_OPEN,
		GROSS_PRICE = @GROSS_PRICE,
		DESCRIPTION = @DESCRIPTION,
		TOOL_TYPE = @TOOL_TYPE,
		SUB_TOOL_TYPE = @SUB_TOOL_TYPE,
		MODIFIED_BY = @MODIFIED_BY,
		MODIFIED_ON = GETDATE()
		WHERE TRANSACTION_ID = @TRANSACTION_ID
		and PARTY_CODE = @PARTY_CODE and ITEM_CODE = @ITEM_CODE
	END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_PARTY_MASTER_FUNCTIONS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_PARTY_MASTER_FUNCTIONS] 
	@ID BIGINT,
	@PARTY_CODE NVARCHAR(50) = NULL,
	@PARTY_NAME NVARCHAR(50) = NULL,
	@SHORT_NAME NVARCHAR(50) = NULL,
	@FL_ADD NVARCHAR(50) = NULL,
	@SL_ADD NVARCHAR(50) = NULL,
	@CITY NVARCHAR(50) = NULL,
	@PIN NVARCHAR(50) = NULL,
	@PHONE NVARCHAR(50) = NULL,
	@FAX NVARCHAR(50) = NULL,
	@CONTACT1 NVARCHAR(50) = NULL,
	@C1DESIG NVARCHAR(50) = NULL,
	@CONTACT2 NVARCHAR(50) = NULL,
	@C2DESIG NVARCHAR(50) = NULL,
	@VENDCODE NVARCHAR(50) = NULL,
	@ECCNO NVARCHAR(50) = NULL,
	@CSTNO NVARCHAR(50) = NULL,
	@CREATED_ON NVARCHAR(50) = NULL,
	@CREATED_BY NVARCHAR(50) = NULL,
	@MODIFIED_ON NVARCHAR(50) = NULL,
	@MODIFIED_BY NVARCHAR(50) = NULL,
	@ACTION NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@ACTION = 'INSERT')
	BEGIN
		INSERT INTO MASTER_PARTY VALUES
		(
			@ID,
			@PARTY_CODE,
			@PARTY_NAME,
			@SHORT_NAME,
			@FL_ADD,
			@SL_ADD,
			@CITY,
			@PIN,
			@PHONE,
			@FAX,
			@CONTACT1,
			@C1DESIG,
			@CONTACT2,
			@C2DESIG,
			@VENDCODE,
			@ECCNO,
			@CSTNO,
			@CREATED_BY,
			GETDATE(),
			NULL,
			NULL
		)
	END
	IF(@ACTION = 'UPDATE')
	BEGIN
		UPDATE MASTER_PARTY SET
		
		PARTY_NAME = @PARTY_NAME,
		SHORT_NAME = @SHORT_NAME,
		FL_ADD = @FL_ADD,
		SL_ADD = @SL_ADD,
		CITY = @CITY,
		PIN = @PIN,
		PHONE = @PHONE,
		FAX = @FAX,
		CONTACT1 = @CONTACT1,
		C1DESIG = @C1DESIG,
		CONTACT2 = @CONTACT2,
		C2DESIG = @C2DESIG,
		VENDCODE = @VENDCODE,
		ECCNO = @ECCNO,
		CSTNO = @CSTNO,
		MODIFIED_BY = @MODIFIED_BY,
		MODIFIED_ON = GETDATE()
		WHERE 
		PARTY_CODE = @PARTY_CODE
	END
END


GO
/****** Object:  StoredProcedure [dbo].[SP_RAW_MATERIAL_FUNCTIONS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_RAW_MATERIAL_FUNCTIONS]
	@RM_ID BIGINT,
	@RM_NAME NVARCHAR(50) = NULL,
	@RM_DESCRIPTION NVARCHAR(100) = NULL,
	@RM_UNIT NVARCHAR(50) = NULL,
	@SEQUENCE BIGINT = NULL,
	@STATUS INT = NULL,
	@ACTION NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@ACTION = 'INSERT')
	BEGIN
		INSERT INTO RAW_MATERIAL VALUES
		(
			@RM_ID,
			@RM_NAME,
			@RM_DESCRIPTION,
			@RM_UNIT,
			@SEQUENCE,
			@STATUS
		)
	END
	IF(@ACTION = 'UPDATE')
	BEGIN
		UPDATE RAW_MATERIAL SET 
		RM_NAME = @RM_NAME,
		RM_DESCRIPTION = @RM_DESCRIPTION,
		RM_UNIT = @RM_UNIT,
		SEQUENCE = @SEQUENCE
		WHERE 
		RM_ID = @RM_ID
	END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_RM_CONFIG]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_RM_CONFIG]
@ID BIGINT,
@CONFIG_ID BIGINT,
@RAW_MATERIAL NVARCHAR(100),
@CREATED_BY NVARCHAR(50) = NULL,
@CREATED_ON DATE = NULL,
@MODIFIED_BY NVARCHAR(50) = NULL,
@MODIFIED_ON DATE = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	


	INSERT INTO RAW_MATERIAL_CONFIG VALUES (@ID, @CONFIG_ID, @RAW_MATERIAL, @CREATED_BY, NULL, NULL, NULL)


  
END


GO
/****** Object:  StoredProcedure [dbo].[SP_RM_LOG_FUNCTIONS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_RM_LOG_FUNCTIONS]
	@RM_ID BIGINT,
	@PARTY_CODE NVARCHAR(50),
	@ITEM_CODE NVARCHAR(50),
	@TOOL_TYPE NVARCHAR(50),
	@TOOL_SUB_TYPE NVARCHAR(50),
	@RAW_MATERIAL NVARCHAR(50),
	@RM_VALUE NVARCHAR(50),
	@CREATED_BY NVARCHAR(50) = NULL,
	@CREATION_ON DATE = NULL,
	@MODIFIED_BY NVARCHAR(50) = NULL,
	@MODIFIED_ON DATE = NULL,
	@ACTION NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@ACTION = 'INSERT')
	BEGIN
		INSERT INTO RAW_MATERIAL_LOG VALUES
		(
			@RM_ID,
			@PARTY_CODE,
			@ITEM_CODE,
			@TOOL_TYPE,
			@TOOL_SUB_TYPE,
			@RAW_MATERIAL,
			@RM_VALUE,
			@CREATED_BY,
			GETDATE(),
			NULL,
			NULL
		)
	END
	IF(@ACTION = 'UPDATE')
	BEGIN
		UPDATE RAW_MATERIAL_LOG SET
		PARTY_CODE = @PARTY_CODE,
		ITEM_CODE = @ITEM_CODE,
		TOOL_TYPE = @TOOL_TYPE,
		TOOL_SUB_TYPE = @TOOL_SUB_TYPE,
		RAW_MATERIAL = @RAW_MATERIAL,
		RM_VALUE = @RM_VALUE,
		MODIFIED_BY = @MODIFIED_BY,
		MODIFIED_ON = NULL
		WHERE 
		RM_ID = @RM_ID
	END
END


GO
/****** Object:  StoredProcedure [dbo].[SP_RM_TRANSACTION_FUNCTIONS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RM_TRANSACTION_FUNCTIONS]
	@RM_ID BIGINT,
	@OC_NO NVARCHAR(50),
	@TOOL_TYPE NVARCHAR(50) = NULL,
	@TOOL_SUB_TYPE NVARCHAR(50) =  NULL,
	@RAW_MATERIAL NVARCHAR(50) = NULL,
	@RM_VALUE NVARCHAR(50) = NULL,
	@CREATED_BY NVARCHAR(50) = NULL,
	@CREATED_ON DATE = NULL,
	@MODIFIED_BY NVARCHAR(50) = NULL,
	@MODIFIED_ON DATE = NULL,
	@ACTION NVARCHAR(50)

AS
	IF(@ACTION = 'INSERT')
	BEGIN
		INSERT INTO RAW_MATERIAL_TRANSACTIONS VALUES
		(
			@RM_ID,
			@OC_NO,
			@TOOL_TYPE,
			@TOOL_SUB_TYPE,
			@RAW_MATERIAL,
			@RM_VALUE,
			@CREATED_BY,
			GETDATE(),
			NULL,
			NULL
		)
	END
	IF(@ACTION = 'UPDATE')
	BEGIN
		UPDATE RAW_MATERIAL_TRANSACTIONS SET
		
		TOOL_TYPE = @TOOL_TYPE,
		TOOL_SUB_TYPE = @TOOL_SUB_TYPE,
		RAW_MATERIAL = @RAW_MATERIAL,
		RM_VALUE = @RM_VALUE,
		MODIFIED_BY = @MODIFIED_BY,
		MODIFIED_ON = GETDATE()
		WHERE
		RM_ID = @RM_ID
		AND
		OC_NO = @OC_NO
	END
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[SP_SCHEDULE_DETAILS_FUNCTIONS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SCHEDULE_DETAILS_FUNCTIONS]
	@OCNO NVARCHAR(50),
	@TOOLTYPE NVARCHAR(50) = NULL,
	@PARTYCODE NVARCHAR(50) = NULL,
	@PRICE NVARCHAR(50) = NULL,
	@OQTY FLOAT = NULL,
	@QTY FLOAT = NULL,
	@SCHDATE nvarchar(50) = NULL,
	@SCHMONTH int = NULL,
	@SCHYEAR int = NULL,
	@CREATED_ON NVARCHAR(50) = NULL,
	@CREATED_BY NVARCHAR(50) = NULL,
	@MODIFIED_ON NVARCHAR(50) = NULL,
	@MODIFIED_BY NVARCHAR(50) = NULL,
	@UNPLANED_QTY BIGINT = NULL,
	@ACTION NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@ACTION = 'INSERT')
	BEGIN
		INSERT INTO SCHEDULE_DETAILS VALUES
		(
			@OCNO,
			@TOOLTYPE,
			@PARTYCODE,
			@PRICE,
			@OQTY,
			@QTY,
			@SCHDATE,
			@SCHMONTH,
			@SCHYEAR,
			GETDATE(),
			@CREATED_BY,
			NULL,
			NULL,
			@UNPLANED_QTY
		)
	END

	IF(@ACTION = 'UPDATE')
	BEGIN
		UPDATE SCHEDULE_DETAILS SET
	
		
		QTY = @QTY,
		
		MODIFIED_ON = GETDATE(),
		MODIFIED_BY = @MODIFIED_BY,
		UNPLANED_QTY = @UNPLANED_QTY
		WHERE
		OCNO = @OCNO
	END
END


GO
/****** Object:  StoredProcedure [dbo].[SP_STAGE_LIST_BY_MAIN_STAGE]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_STAGE_LIST_BY_MAIN_STAGE]
@MIANTYPE NVARCHAR(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@MIANTYPE = 'Select Stage Type')
	BEGIN
		SELECT STAGE_ID, STAGE, STAGE_TYPE, IO, SEQUENCE FROM STAGE_MASTER;
	END
	IF(@MIANTYPE = 'NOT ISSUE')
	BEGIN
		SELECT STAGE_ID, STAGE, STAGE_TYPE, IO, SEQUENCE FROM STAGE_MASTER WHERE STAGE_TYPE = 'NOT ISSUE'
	END
	IF(@MIANTYPE = 'IN PROCESS')
	BEGIN
		SELECT STAGE_ID, STAGE, STAGE_TYPE, IO, SEQUENCE FROM STAGE_MASTER WHERE STAGE_TYPE = 'IN PROCESS'
	END
END


GO
/****** Object:  StoredProcedure [dbo].[SP_STAGE_LOG_FUNCTIONS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_STAGE_LOG_FUNCTIONS]
	-- Add the parameters for the stored procedure here
	@ID BIGINT,
	@PARTY_CODE NVARCHAR(50),
	@ITEM_CODE NVARCHAR(50),
	@STAGE_TYPE NVARCHAR(50),
	@STAGE NVARCHAR(50),
	@VALUE NVARCHAR(50),
	@STAGE_VALUE BIGINT,
	@ACTION NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@ACTION = 'INSERT')
	BEGIN
		INSERT INTO STAGE_LOGS VALUES
		(
			@ID,
			@PARTY_CODE,
			@ITEM_CODE,
			@STAGE_TYPE,
			@STAGE,
			@VALUE,
			@STAGE_VALUE
		)
	END
	IF(@ACTION = 'UPDATE')
	BEGIN
		UPDATE STAGE_LOGS SET
		STAGE_TYPE = @STAGE_TYPE,
		STAGE = @STAGE,
		VALUE = @VALUE,
		STAGE_VALUE = @STAGE_VALUE
		WHERE 
		PARTY_CODE = @PARTY_CODE 
		AND 
		ITEM_CODE = @ITEM_CODE
	END

END


GO
/****** Object:  StoredProcedure [dbo].[SP_STAGE_MASTER_FUNCTIONS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_STAGE_MASTER_FUNCTIONS]
	@STAGE_ID BIGINT,
	@STAGE NVARCHAR(50),
	@STAGE_TYPE NVARCHAR(50),
	@IO NVARCHAR(50) = NULL,
	@SEQUENCE BIGINT = NULL,
	@STATUS INT = NULL,
	@ACTION NVARCHAR(50)
AS
	IF(@ACTION = 'INSERT')
	BEGIN
		INSERT INTO STAGE_MASTER VALUES

		(
			@STAGE_ID, @STAGE, @STAGE_TYPE , @IO, @SEQUENCE, @STATUS
		)
	END

	IF(@ACTION = 'UPDATE')
	BEGIN
		UPDATE STAGE_MASTER SET

		STAGE = @STAGE, STAGE_TYPE = @STAGE_TYPE, IO = @IO, SEQUENCE = @SEQUENCE

		WHERE STAGE_ID = @STAGE_ID
	END
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[SP_STAGE_TRANSACTION_FUNCTIONS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_STAGE_TRANSACTION_FUNCTIONS]
	@ID BIGINT,
	@OC_NO NVARCHAR(50),
	@STAGE_TYPE NVARCHAR(50) = null,
	@STAGE NVARCHAR(50) = null,
	@VALUE BIGINT = null,
	@CREATED_BY NVARCHAR(50) = NULL,
	@CREATED_ON DATE = NULL,
	@MODIFIED_BY NVARCHAR(50) = NULL,
	@MODIFIED_ON DATE = NULL,
	@STAGE_TYPE_VALUE BIGINT = NULL,
	@ACTION NVARCHAR(50)
AS
	IF(@ACTION = 'INSERT')
	BEGIN
		INSERT INTO STAGE_TRANSACTIONS VALUES
		(
			@ID,
			@OC_NO,
			@STAGE_TYPE,
			@STAGE,
			@VALUE,
			@CREATED_BY,
			GETDATE(),
			NULL,
			NULL,
			@STAGE_TYPE_VALUE	
		)
	END
	IF(@ACTION = 'UPDATE')
	BEGIN
		UPDATE STAGE_TRANSACTIONS SET
		
		STAGE_TYPE = @STAGE_TYPE,
		STAGE = @STAGE,
		VALUE = @VALUE,
		MODIFIED_BY = @MODIFIED_BY,
		MODIFIED_ON = GETDATE(),
		STAGE_TYPE_VALUE = @STAGE_TYPE_VALUE
		WHERE 
		ID = @ID
	END
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[SP_STAGE_TYPE_MASTER_FUNCTIONS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_STAGE_TYPE_MASTER_FUNCTIONS] 
@ID BIGINT,
@STAGE_TYPE NVARCHAR(50),
@SEQUENCE BIGINT = NULL,
@STATUS INT = NULL,
@CREATED_BY NVARCHAR(50) = NULL,
@CREATED_ON DATE = NULL,
@ACTION NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@ACTION = 'INSERT')
	BEGIN
		INSERT INTO STAGE_TYPE_MASTER VALUES
		(	
			@ID,
			@STAGE_TYPE,
			@SEQUENCE,
			@STATUS,
			@CREATED_BY,
			NULL
		)
	END
	IF(@ACTION = 'UPDATE')
	BEGIN
		UPDATE STAGE_TYPE_MASTER SET 
		STAGE_TYPE = @STAGE_TYPE,
		SEQUENCE = @SEQUENCE
		WHERE 
		ID = @ID
	END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_STAGES_FUNCTIONS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_STAGES_FUNCTIONS]
	@ID BIGINT,
	@CONFIG_ID BIGINT,
	@STAGE NVARCHAR(50),
	@ACTION NVARCHAR(50)
AS
	IF(@ACTION = 'INSERT')
	BEGIN
		INSERT INTO STAGES VALUES
		(
			@ID,
			@CONFIG_ID,
			@STAGE
			
		)
	END
	IF(@ACTION = 'UPDATE')
	BEGIN
		UPDATE STAGES SET
		CONFI_ID = @CONFIG_ID,
		STAGE = @STAGE
		WHERE 
		ID = @ID
	END
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[SP_TOOL_DIMENSION_CONFIGURATION_FUNCTIONS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_TOOL_DIMENSION_CONFIGURATION_FUNCTIONS]
@ID BIGINT,
@TOOL_TYPE NVARCHAR(50) = NULL,
@TOOL_SUB_TYPE NVARCHAR(50) = NULL,
@STATUS INT = NULL,
@CREATED_BY NVARCHAR(50) = NULL,
@CREATED_ON  DATE = NULL,
@MODIFIED_BY NVARCHAR(50) = NULL,
@MODIFIED_ON  DATE = NULL,
@ACTION NVARCHAR(50) = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   IF(@ACTION = 'INSERT')
   BEGIN	
	INSERT INTO TOOL_DIMENSION_CONFIGURATION VALUES
	(
		@ID,
		@TOOL_TYPE,
		@TOOL_SUB_TYPE,
		@STATUS,
		@CREATED_BY,
		GETDATE(),
		NULL,
		NULL
	)
   END
   IF(@ACTION = 'UPDATE')
   BEGIN
	UPDATE TOOL_DIMENSION_CONFIGURATION SET
	TOOL_TYPE = @TOOL_TYPE,
	TOOL_SUB_TYPE = @TOOL_SUB_TYPE,
	MODIFIED_BY = @MODIFIED_BY,
	[MODIFIED_ON ] = GETDATE()
	WHERE 
	ID = @ID


   END
END


GO
/****** Object:  StoredProcedure [dbo].[SP_TOOL_TYPE_FUNCTIONS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_TOOL_TYPE_FUNCTIONS]
	-- Add the parameters for the stored procedure here
@ID BIGINT,
@TOOL_TYPE NVARCHAR(50) = null,
@MAIN_TYPE NVARCHAR(50) = null,
@SUB_TYPE NVARCHAR(50) = null, 
@SEQUENCE BIGINT = NULL,
@CREATED_ON NVARCHAR(50) = null,
@CREATED_BY NVARCHAR(50) = null,
@MODIFIED_ON NVARCHAR(50) = null,
@MODIFIED_BY NVARCHAR(50) = null,
@STATUS INT = NULL,
@ACTION NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@ACTION = 'INSERT')
	BEGIN
		INSERT INTO MASTER_TOOL VALUES
		(
			@ID,
			@TOOL_TYPE,
			@MAIN_TYPE,
			@SUB_TYPE,
			@SEQUENCE,
			GETDATE(),
			@CREATED_BY,
			NULL,
			NULL,
			@STATUS
		)
	END
	IF(@ACTION = 'UPDATE')
	BEGIN
		UPDATE MASTER_TOOL SET
		TOOL_TYPE = @TOOL_TYPE,
		MAIN_TYPE = @MAIN_TYPE,
		SUB_TYPE = @SUB_TYPE,
		SEQUENCE = @SEQUENCE,
		MODIFIED_BY = @MODIFIED_BY,
		MODIFIED_ON = GETDATE()
		WHERE 
		ID = @ID
	END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_TOOL_TYPE_RM_CONFIGURATION_FUNCTIONS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TOOL_TYPE_RM_CONFIGURATION_FUNCTIONS]
	@ID BIGINT,
	@TOOL_TYPE NVARCHAR(50) = NULL,
	@TOOL_SUB_TYPE NVARCHAR(50) = NULL,
	@STATUS INT = NULL,
	@CREATED_BY NVARCHAR(50) = NULL,
	@CREATED_ON DATE = NULL,
	@MODIFIED_BY NVARCHAR(50) = NULL,
	@MODIFIED_ON DATE = NULL,
	@ACTION NVARCHAR(10)

AS
	IF(@ACTION = 'INSERT')
	BEGIN
		SELECT @ID = ISNULL(MAX(ID), 0) + 1 FROM TOOL_TYPE_RM_CONFIGURATION
		INSERT INTO TOOL_TYPE_RM_CONFIGURATION VALUES
		(
			@ID,
			@TOOL_TYPE,
			@TOOL_SUB_TYPE,
			@STATUS,
			@CREATED_BY,
			GETDATE(),
			NULL,
			NULL
		)
	END
	IF(@ACTION = 'UPDATE')
	BEGIN
		UPDATE TOOL_TYPE_RM_CONFIGURATION SET
		TOOL_TYPE = @TOOL_TYPE,
		TOOL_SUB_TYPE = @TOOL_SUB_TYPE,
		STATUS  = @STATUS,
		MODIFIED_BY = @MODIFIED_BY,
		MODIFIED_ON = GETDATE()
	END
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[SP_TOOL_TYPE_STAGES_CONFIGURATION]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_TOOL_TYPE_STAGES_CONFIGURATION] 
	@ID BIGINT,
	
	@TOOL_TYPE NVARCHAR(50) = NULL,
	@TOOL_SUB_TYPE NVARCHAR(50)= NULL,
	@STAGE_TYPE NVARCHAR(50) = NULL,
	@STATUS INT = NULL,
	@CREATED_BY NVARCHAR(50) = NULL,
	@CREATED_ON DATE = NULL,
	@MODIFIED_BY NVARCHAR(50) = NULL,
	@MODIFIED_ON DATE = NULL,
	@ACTION NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF(@ACTION = 'INSERT')
	BEGIN
		INSERT INTO TOOL_STAGES_CONFIGURATION VALUES
		(
			@ID,
		
			@TOOL_TYPE,
			@TOOL_SUB_TYPE,
			@STAGE_TYPE,
			@STATUS,
			@CREATED_BY,
			GETDATE(),
			NULL,
			NULL

		
		)
	END
	IF(@ACTION = 'UPDATE')
	BEGIN
		UPDATE TOOL_STAGES_CONFIGURATION SET
		TOOL_TYPE = @TOOL_TYPE,
		TOOL_SUB_TYPE = @TOOL_SUB_TYPE,
		STAGE_TYPE = @STAGE_TYPE,
		MODIFIED_BY = @MODIFIED_BY,
		MODIFIED_ON = GETDATE()
		WHERE 
		ID = @ID
	
	END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_IN_PROCESS]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_UPDATE_IN_PROCESS] 
	@OC_NO NVARCHAR(50),
	@IN_PROCESS FLOAT = NULL,
	@TURING FLOAT = NULL,
	@MILLING FLOAT = NULL,
	@HT FLOAT = NULL,
	@HTBEND FLOAT = NULL,
	@CYL FLOAT = NULL,
	@TC FLOAT = NULL,
	@CLEAN FLOAT = NULL

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE OC_TRANSACTIONS SET
	IN_PROCESS = @IN_PROCESS,
	TURING = @TURING,
	MILLING = @MILLING,
	HT = @HT,
	HTBEND = @HTBEND,
	CYL = @CYL,
	TC = @TC,
	CLEAN = @CLEAN

	WHERE 
	OC_NO = @OC_NO
END


GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_NOT_ISSUE]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_UPDATE_NOT_ISSUE]
@OCNO NVARCHAR(50),
@NOT_ISSUE FLOAT = NULL,
@P_DC FLOAT = NULL,
@P_RM FLOAT = NULL,
@P_LDS FLOAT = NULL,
@P_NDS FLOAT = NULL,
@P_YISS FLOAT = NULL,
@P_OTHER FLOAT = NULL

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE OC_TRANSACTIONS SET 
	NOT_ISSUE = @NOT_ISSUE,
		P_DC = @P_DC,
		P_RM = @P_RM,
		P_LDS = @P_LDS,
		P_NDS = @P_NDS,
		P_YISS = @P_YISS,
		P_OTHER = @P_OTHER

		WHERE 
		OC_NO = @OCNO
END


GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_SCHEDULE_FUNCTION]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_UPDATE_SCHEDULE_FUNCTION]
	@ID BIGINT,
	@OCNO NVARCHAR(50) = NULL,
	@TOOLTYPE NVARCHAR(50) = NULL,
	@PARTYCODE NVARCHAR(50) = NULL,
	@PRICE NVARCHAR(50) = NULL,
	@OQTY FLOAT = NULL,
	@QTY FLOAT = NULL,
	@SCHDATE NVARCHAR(50) = NULL

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE SCHEDULE_DETAILS SET 
	OCNO = @OCNO,
	TOOLTYPE = @TOOLTYPE,
	PARTYCODE = @PARTYCODE,
	PRICE = @PRICE,
	OQTY = @OQTY,
	QTY = @QTY,
	SCHDATE = @SCHDATE
	WHERE 
	ID = @ID

END


GO
/****** Object:  StoredProcedure [dbo].[SP_USER_LOGIN]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_USER_LOGIN]
@email nvarchar(100),
@password nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Email, emp_pwd from EMP_MASTER where Email = @email and emp_pwd = @password
END


GO
/****** Object:  Table [dbo].[DIMENSION_CONFIGURATION]    Script Date: 15/04/2017 11:35:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMENSION_CONFIGURATION](
	[ID] [bigint] NOT NULL,
	[CONFIG_ID] [bigint] NULL,
	[DIMENSION] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_ON] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIMENSION_LOG]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMENSION_LOG](
	[ID] [bigint] NOT NULL,
	[PARTY_CODE] [nvarchar](50) NULL,
	[ITEM_CODE] [nvarchar](50) NULL,
	[TOOL_TYPE] [nvarchar](50) NULL,
	[TOOL_SUB_TYPE] [nvarchar](50) NULL,
	[DIMENTION] [nvarchar](50) NULL,
	[VALU] [bigint] NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_ON] [date] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_ON] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIMENSION_NAME_LOGS]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMENSION_NAME_LOGS](
	[ID] [bigint] NOT NULL,
	[DIMENSION_OLD_NAME] [nvarchar](100) NULL,
	[DIMENSION_NEW_NAME] [nvarchar](100) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_ON] [date] NULL,
 CONSTRAINT [PK_DIMENSION_NAME_LOGS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIMENSION_RESTRICTION_MASTER]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMENSION_RESTRICTION_MASTER](
	[ID] [bigint] NOT NULL,
	[DIMENSION] [nvarchar](50) NULL,
	[Value] [nvarchar](50) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedOn] [date] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedOn] [date] NULL,
 CONSTRAINT [PK_DIMENSION_RESTRICTION_MASTER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIMENTION]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMENTION](
	[ID] [bigint] NOT NULL,
	[TOOL_TYPE] [nvarchar](50) NULL,
	[TOOL_SUB_TYPE] [nvarchar](50) NULL,
	[DIMENTION] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_ON] [date] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_ON] [date] NULL,
 CONSTRAINT [PK_DIMENTION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIMENTION_TRANSACTIONS]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMENTION_TRANSACTIONS](
	[ID] [bigint] NOT NULL,
	[OC_NO] [nvarchar](50) NOT NULL,
	[TOOL_TYPE] [nvarchar](50) NULL,
	[TOOL_SUB_TYPE] [nvarchar](50) NULL,
	[DIMENTION] [nvarchar](50) NULL,
	[VALU] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_ON] [date] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_ON] [date] NULL,
 CONSTRAINT [PK_DIMENTION_TRANSACTIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIMENTION_TYPE_MASTER]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIMENTION_TYPE_MASTER](
	[ID] [bigint] NOT NULL,
	[DIMENTION] [nvarchar](50) NULL,
	[UNIT] [nvarchar](50) NULL,
	[SEQUENCE] [bigint] NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_ON] [date] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_ON] [date] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_DIMENTION_TYPE_MASTER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DISPATCH_DETAILS]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISPATCH_DETAILS](
	[ID] [bigint] NULL,
	[INVNO] [nvarchar](50) NULL,
	[INVDT] [nvarchar](50) NULL,
	[OCNO] [nvarchar](50) NULL,
	[DISPQTY] [float] NULL,
	[ITMCODE] [nvarchar](50) NULL,
	[PARTY_CODE] [nvarchar](50) NULL,
	[CREATED_ON] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[MODIFIED_ON] [nvarchar](50) NULL,
	[MODIFIED_BY] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DRG_DOCS]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DRG_DOCS](
	[DRG_ID] [bigint] NOT NULL,
	[DRG_NAME] [nvarchar](50) NULL,
	[DRG_PATH] [nvarchar](max) NULL,
	[PARTY_CODE] [nvarchar](50) NULL,
	[ITEM_CODE] [nvarchar](50) NULL,
	[DRL] [nvarchar](50) NULL,
	[UPLOADED_BY] [nvarchar](50) NULL,
	[UPLOADED_ON] [date] NULL,
 CONSTRAINT [PK_DRG_DOCS] PRIMARY KEY CLUSTERED 
(
	[DRG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMP_MASTER]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP_MASTER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EMP_CODEOLD] [nvarchar](50) NULL,
	[EMP_CODE] [nvarchar](50) NULL,
	[EMP_FNAME] [nvarchar](50) NULL,
	[EMP_MNAME] [nvarchar](50) NULL,
	[EMP_LNAME] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](250) NULL,
	[LOCATION] [nvarchar](50) NULL,
	[SEX] [nvarchar](50) NULL,
	[CITY] [nvarchar](50) NULL,
	[DISTRICT] [nvarchar](50) NULL,
	[MARITIAL_STATUS] [nvarchar](50) NULL,
	[DOB] [nvarchar](50) NULL,
	[DOJ] [nvarchar](50) NULL,
	[DOL] [nvarchar](50) NULL,
	[emp_pwd] [nvarchar](50) NULL,
	[emp_status] [int] NULL,
	[CREATED_ON] [datetime] NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[MODIFIED_ON] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IN_PROCESS_MASTER]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IN_PROCESS_MASTER](
	[STAGE_ID] [bigint] NOT NULL,
	[STAGE_NAME] [nvarchar](100) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INVOICE]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICE](
	[ID] [bigint] NULL,
	[INVNO] [nvarchar](50) NULL,
	[INVDT] [nvarchar](50) NULL,
	[PARTY_CODE] [nvarchar](50) NULL,
	[PONO] [nvarchar](50) NULL,
	[PODT] [nvarchar](50) NULL,
	[ISSTIME] [nvarchar](50) NULL,
	[REMTIME] [nvarchar](50) NULL,
	[REMDT] [nvarchar](50) NULL,
	[PAYTERMS1] [nvarchar](50) NULL,
	[PAYTERMS2] [nvarchar](50) NULL,
	[DISPDTL] [nvarchar](50) NULL,
	[PROJTOT] [float] NULL,
	[TOTQTY] [float] NULL,
	[PLA] [float] NULL,
	[RG23A] [float] NULL,
	[RG23C] [float] NULL,
	[NETAMT] [float] NULL,
	[PACKPER] [float] NULL,
	[PACKAMT] [float] NULL,
	[EXPER] [float] NULL,
	[EXCISE] [float] NULL,
	[CSPER] [float] NULL,
	[CESS] [float] NULL,
	[HECESSPER] [float] NULL,
	[HECESS] [float] NULL,
	[TAXTYPE] [int] NULL,
	[STAX] [float] NULL,
	[TOTPER] [float] NULL,
	[TOTAX] [float] NULL,
	[ADDPER] [float] NULL,
	[ADDTAX] [float] NULL,
	[FREIGHT] [float] NULL,
	[GRAMT] [float] NULL,
	[CREATED_ON] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[MODIFIED_ON] [nvarchar](50) NULL,
	[MODIFIED_BY] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INVOICE_DETAIL]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICE_DETAIL](
	[ID] [bigint] NULL,
	[INVNO] [nvarchar](50) NULL,
	[INVDT] [nvarchar](50) NULL,
	[PARTY_CODE] [nvarchar](50) NULL,
	[OCNO] [nvarchar](50) NULL,
	[TOOLCODE] [nvarchar](50) NULL,
	[ITEMCODE] [nvarchar](50) NULL,
	[QTY] [float] NULL,
	[PRICE] [float] NULL,
	[DISCPER] [float] NULL,
	[DISCAMT] [float] NULL,
	[NETPRICE] [float] NULL,
	[TOTAMT] [float] NULL,
	[CREATED_ON] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[MODIFIED_ON] [nvarchar](50) NULL,
	[MODIFIED_BY] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MASTER_NOTI]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_NOTI](
	[ID] [bigint] NULL,
	[NOTI] [nvarchar](50) NULL,
	[CREATED_ON] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[MODIFIED_ON] [nvarchar](50) NULL,
	[MODIFIED_BY] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MASTER_PARTY]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_PARTY](
	[ID] [bigint] NULL,
	[PARTY_CODE] [nvarchar](50) NULL,
	[PARTY_NAME] [nvarchar](50) NULL,
	[SHORT_NAME] [nvarchar](50) NULL,
	[FL_ADD] [nvarchar](50) NULL,
	[SL_ADD] [nvarchar](50) NULL,
	[CITY] [nvarchar](50) NULL,
	[PIN] [nvarchar](50) NULL,
	[PHONE] [nvarchar](50) NULL,
	[FAX] [nvarchar](50) NULL,
	[CONTACT1] [nvarchar](50) NULL,
	[C1DESIG] [nvarchar](50) NULL,
	[CONTACT2] [nvarchar](50) NULL,
	[C2DESIG] [nvarchar](50) NULL,
	[VENDCODE] [nvarchar](50) NULL,
	[ECCNO] [nvarchar](50) NULL,
	[CSTNO] [nvarchar](50) NULL,
	[CREATED_ON] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[MODIFIED_ON] [nvarchar](50) NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[STATUS] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MASTER_STAGE_TYPE]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_STAGE_TYPE](
	[ID] [bigint] NOT NULL,
	[STAGE_TYPE] [nvarchar](50) NULL,
 CONSTRAINT [PK_MASTER_STAGE_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MASTER_TOOL]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_TOOL](
	[ID] [bigint] NULL,
	[TOOL_TYPE] [nvarchar](50) NULL,
	[MAIN_TYPE] [nvarchar](50) NULL,
	[SUB_TYPE] [nvarchar](50) NULL,
	[SEQUENCE] [bigint] NULL,
	[CREATED_ON] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[MODIFIED_ON] [nvarchar](50) NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[STATUS] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MASTER_TOOL_SELECTION]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_TOOL_SELECTION](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MAIN_TYPE] [nvarchar](50) NULL,
	[SUB_TYPE] [nvarchar](50) NULL,
	[DIA] [int] NULL,
	[FL] [int] NULL,
	[OAL] [int] NULL,
	[SHANK] [int] NULL,
	[PSDIA] [int] NULL,
	[SMALLDIA] [int] NULL,
	[STEPLNGTH] [int] NULL,
	[BIGDIA] [int] NULL,
	[BOREDIA] [int] NULL,
	[GUIDEDIA] [int] NULL,
	[GUIDELNGTH] [int] NULL,
	[WIDTH] [int] NULL,
	[ANGLE] [int] NULL,
	[PILOTBORE] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MASTER_TOOL_TYPE]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASTER_TOOL_TYPE](
	[ID] [bigint] NOT NULL,
	[MASTER_TOOL_TYPE] [nvarchar](50) NOT NULL,
	[SEQUENCE] [bigint] NULL,
	[STATUS] [int] NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_ON] [date] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_ON] [date] NULL,
 CONSTRAINT [PK_MASTER_TOOL_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NOT_ISSUE_MASTER]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOT_ISSUE_MASTER](
	[STAGE_ID] [bigint] NOT NULL,
	[STAGE_NAME] [nvarchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OC_ACTIONS]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OC_ACTIONS](
	[ID] [bigint] NOT NULL,
	[OCNO] [nvarchar](110) NOT NULL,
	[REMARKS] [nvarchar](200) NULL,
	[STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_ON] [date] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_ON] [date] NULL,
 CONSTRAINT [PK_OC_ACTIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OC_DOCS]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OC_DOCS](
	[DOC_ID] [bigint] NOT NULL,
	[OC_NO] [nvarchar](50) NULL,
	[DOC_NAME] [nvarchar](50) NULL,
	[DOC_PATH] [nvarchar](max) NULL,
	[UPLOADED_BY] [nvarchar](50) NULL,
	[UPLOADED_ON] [date] NULL,
 CONSTRAINT [PK_OC_DOCS] PRIMARY KEY CLUSTERED 
(
	[DOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OC_TRANSACTIONS]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OC_TRANSACTIONS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[OCNO] [nvarchar](50) NULL,
	[OCNO_EXTN] [nvarchar](50) NULL,
	[OC_NO] [nvarchar](110) NOT NULL,
	[OCDT] [nvarchar](50) NULL,
	[PONO] [nvarchar](50) NULL,
	[FOCNO] [nvarchar](50) NULL,
	[QTNNO] [nvarchar](50) NULL,
	[QTNDT] [nvarchar](50) NULL,
	[OPEN_OC] [nvarchar](50) NULL,
	[PARTY_CODE] [nvarchar](50) NULL,
	[GRPPRICE] [float] NULL,
	[DISC] [float] NULL,
	[NETPRICE] [float] NULL,
	[TOOLTYPE] [nvarchar](50) NULL,
	[MATCHTYPE] [nvarchar](50) NULL,
	[ITEM_CODE] [nvarchar](50) NULL,
	[DRGNO] [nvarchar](50) NULL,
	[DESC1] [nvarchar](50) NULL,
	[OCQTY] [float] NULL,
	[NOT_ISSUE] [float] NULL,
	[IN_PROCESS] [float] NULL,
	[DESPATCH] [float] NULL,
	[P_RM] [float] NULL,
	[P_DC] [float] NULL,
	[P_LDS] [float] NULL,
	[P_OTHER] [float] NULL,
	[P_YISS] [float] NULL,
	[P_NDS] [float] NULL,
	[OTHER_REM] [float] NULL,
	[TURING] [float] NULL,
	[TURNSALV] [float] NULL,
	[TURNSCRAP] [float] NULL,
	[MILLING] [float] NULL,
	[MILLSALV] [float] NULL,
	[MILLSCRAP] [float] NULL,
	[HT] [float] NULL,
	[HTBEND] [float] NULL,
	[HTSCRAP] [float] NULL,
	[CYL] [float] NULL,
	[CYLSALV] [float] NULL,
	[CYLSCRAP] [float] NULL,
	[TC] [float] NULL,
	[TCSCRAP] [float] NULL,
	[TCSALV] [float] NULL,
	[CLEAN] [float] NULL,
	[SALVAGE] [float] NULL,
	[SCRAP] [float] NULL,
	[RMDIA] [float] NULL,
	[RMLENGTH] [float] NULL,
	[RMWEIGHT] [float] NULL,
	[RMVALUE] [float] NULL,
	[MTRL] [float] NULL,
	[DIA] [float] NULL,
	[FL] [float] NULL,
	[OAL] [float] NULL,
	[SHANK] [float] NULL,
	[PSDIA] [float] NULL,
	[SMALLDIA] [float] NULL,
	[STEPLNGTH] [float] NULL,
	[BIGDIA] [float] NULL,
	[BOREDIA] [float] NULL,
	[GUIDEDIA] [float] NULL,
	[GUIDELNGTH] [float] NULL,
	[WIDTH] [float] NULL,
	[ANGLE] [float] NULL,
	[PILOTBORE] [float] NULL,
	[PAYTERMS] [float] NULL,
	[SLTAX] [float] NULL,
	[PACKING] [float] NULL,
	[FREIGHT] [float] NULL,
	[DIMENSION] [float] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_OC_TRANSACTIONS] PRIMARY KEY CLUSTERED 
(
	[OC_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OC_TRANSACTIONS_LOG]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OC_TRANSACTIONS_LOG](
	[TRANSACTION_ID] [bigint] NOT NULL,
	[DATE] [date] NULL,
	[PARTY_CODE] [nvarchar](50) NULL,
	[ITEM_CODE] [nvarchar](50) NULL,
	[DRL] [nvarchar](50) NULL,
	[DRD] [nvarchar](50) NULL,
	[DRGNO] [nvarchar](50) NULL,
	[FOC_NO] [nvarchar](100) NULL,
	[IS_OPEN] [nvarchar](50) NULL,
	[GROSS_PRICE] [bigint] NULL,
	[DISCOUNT] [int] NULL,
	[NET_PRICE] [bigint] NULL,
	[DESCRIPTION] [nvarchar](100) NULL,
	[TOOL_TYPE] [nvarchar](50) NULL,
	[SUB_TOOL_TYPE] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_ON] [date] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_ON] [date] NULL,
 CONSTRAINT [PK_OC_TRANSACTIONS_LOG] PRIMARY KEY CLUSTERED 
(
	[TRANSACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RAW_MATERIAL]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAW_MATERIAL](
	[RM_ID] [bigint] NOT NULL,
	[RM_NAME] [nvarchar](50) NULL,
	[RM_DESCRIPTION] [nvarchar](100) NULL,
	[RM_UNIT] [nvarchar](50) NULL,
	[SEQUENCE] [bigint] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_RAW_MATERIAL] PRIMARY KEY CLUSTERED 
(
	[RM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RAW_MATERIAL_CONFIG]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAW_MATERIAL_CONFIG](
	[ID] [bigint] NOT NULL,
	[CONFIG_ID] [bigint] NOT NULL,
	[RAW_MATERIAL] [nvarchar](100) NOT NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_ON] [date] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_ON] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RAW_MATERIAL_LOG]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAW_MATERIAL_LOG](
	[RM_ID] [bigint] NOT NULL,
	[PARTY_CODE] [nvarchar](50) NULL,
	[ITEM_CODE] [nvarchar](50) NULL,
	[TOOL_TYPE] [nvarchar](50) NULL,
	[TOOL_SUB_TYPE] [nvarchar](50) NULL,
	[RAW_MATERIAL] [nvarchar](50) NULL,
	[RM_VALUE] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATION_ON] [date] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_ON] [date] NULL,
 CONSTRAINT [PK_RAW_MATERIAL_LOG] PRIMARY KEY CLUSTERED 
(
	[RM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RAW_MATERIAL_TRANSACTIONS]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAW_MATERIAL_TRANSACTIONS](
	[RM_ID] [bigint] NOT NULL,
	[OC_NO] [nvarchar](50) NOT NULL,
	[TOOL_TYPE] [nvarchar](50) NULL,
	[TOOL_SUB_TYPE] [nvarchar](50) NULL,
	[RAW_MATERIAL] [nvarchar](50) NULL,
	[RM_VALUE] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_ON] [date] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_ON] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[RM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RM_NAME_LOGS]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RM_NAME_LOGS](
	[ID] [bigint] NOT NULL,
	[RM_OLD_NAME] [nvarchar](100) NULL,
	[RM_NEW_NAME] [nvarchar](100) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_ON] [date] NULL,
 CONSTRAINT [PK_RM_NAME_LOGS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SCHEDULE_DETAILS]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCHEDULE_DETAILS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[OCNO] [nvarchar](50) NULL,
	[TOOLTYPE] [nvarchar](50) NULL,
	[PARTYCODE] [nvarchar](50) NULL,
	[PRICE] [nvarchar](50) NULL,
	[OQTY] [float] NULL,
	[QTY] [float] NULL,
	[SCHDATE] [nvarchar](50) NULL,
	[SCHMONTH] [int] NULL,
	[SCHYEAR] [int] NULL,
	[CREATED_ON] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[MODIFIED_ON] [nvarchar](50) NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[UNPLANED_QTY] [bigint] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STAGE_LOGS]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAGE_LOGS](
	[ID] [bigint] NOT NULL,
	[PARTY_CODE] [nvarchar](50) NULL,
	[ITEM_CODE] [nvarchar](50) NULL,
	[STAGE_TYPE] [nvarchar](50) NULL,
	[STAGE] [nvarchar](50) NULL,
	[VALUE] [nvarchar](50) NULL,
	[STAGE_VALUE] [bigint] NULL,
 CONSTRAINT [PK_STAGE_LOGS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STAGE_MASTER]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAGE_MASTER](
	[STAGE_ID] [bigint] NOT NULL,
	[STAGE] [nvarchar](100) NULL,
	[STAGE_TYPE] [nvarchar](50) NULL,
	[IO] [nvarchar](50) NULL,
	[SEQUENCE] [bigint] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_STAGE_MASTER] PRIMARY KEY CLUSTERED 
(
	[STAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STAGE_NAME_LOGS]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAGE_NAME_LOGS](
	[ID] [bigint] NOT NULL,
	[STAGE_OLD_NAME] [nvarchar](100) NULL,
	[STAGE_NEW_NAME] [nvarchar](100) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_ON] [date] NULL,
 CONSTRAINT [PK_STAGE_NAME_LOGS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STAGE_TRANSACTIONS]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAGE_TRANSACTIONS](
	[ID] [bigint] NOT NULL,
	[OC_NO] [nvarchar](50) NOT NULL,
	[STAGE_TYPE] [nvarchar](50) NULL,
	[STAGE] [nvarchar](100) NULL,
	[VALUE] [bigint] NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_ON] [date] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_ON] [date] NULL,
	[STAGE_TYPE_VALUE] [bigint] NULL,
 CONSTRAINT [PK_STAGE_TRANSACTIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STAGE_TYPE_MASTER]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAGE_TYPE_MASTER](
	[ID] [bigint] NOT NULL,
	[STAGE_TYPE] [nvarchar](50) NULL,
	[SEQUENCE] [bigint] NULL,
	[STATUS] [int] NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_ON] [date] NULL,
 CONSTRAINT [PK_STAGE_TYPE_MASTER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STAGE_TYPE_NAME_LOGS]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAGE_TYPE_NAME_LOGS](
	[ID] [bigint] NOT NULL,
	[NEW_NAME] [nvarchar](100) NULL,
	[OLD_NAME] [nvarchar](100) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_ON] [date] NULL,
 CONSTRAINT [PK_STAGE_TYPE_NAME_LOGS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STAGES]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAGES](
	[ID] [bigint] NOT NULL,
	[CONFI_ID] [bigint] NOT NULL,
	[STAGE] [nvarchar](50) NULL,
 CONSTRAINT [PK_STAGES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SUB_TOOL_NAME_LOGS]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUB_TOOL_NAME_LOGS](
	[ID] [bigint] NOT NULL,
	[OLD_NAME] [nvarchar](100) NULL,
	[NEW_NAME] [nvarchar](100) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_ON] [date] NULL,
 CONSTRAINT [PK_SUB_TOOL_NAME_LOGS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TOOL_DIMENSION_CONFIGURATION]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOOL_DIMENSION_CONFIGURATION](
	[ID] [bigint] NOT NULL,
	[TOOL_TYPE] [nvarchar](50) NULL,
	[TOOL_SUB_TYPE] [nvarchar](50) NULL,
	[STATUS] [int] NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_ON ] [date] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_ON ] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TOOL_NAME_LOGS]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOOL_NAME_LOGS](
	[ID] [bigint] NOT NULL,
	[OLD_TOOL_NAME] [nvarchar](100) NULL,
	[NEW_TOOL_NAME] [nvarchar](100) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_ON] [date] NULL,
 CONSTRAINT [PK_TOOL_NAME_LOGS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TOOL_STAGES_CONFIGURATION]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOOL_STAGES_CONFIGURATION](
	[ID] [bigint] NOT NULL,
	[TOOL_TYPE] [nvarchar](50) NULL,
	[TOOL_SUB_TYPE] [nvarchar](50) NULL,
	[STAGE_TYPE] [nvarchar](50) NULL,
	[STATUS] [int] NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_ON] [date] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_ON] [date] NULL,
 CONSTRAINT [PK_TOOL_STAGES_CONFIGURATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TOOL_TYPE_RM_CONFIGURATION]    Script Date: 15/04/2017 11:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOOL_TYPE_RM_CONFIGURATION](
	[ID] [bigint] NOT NULL,
	[TOOL_TYPE] [nvarchar](50) NOT NULL,
	[TOOL_SUB_TYPE] [nvarchar](50) NOT NULL,
	[STATUS] [int] NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_ON] [date] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_ON] [date] NULL,
 CONSTRAINT [PK_TOOL_TYPE_RM_CONFIGURATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[DIMENSION_CONFIGURATION]  WITH CHECK ADD  CONSTRAINT [FK_DIMENSION_CONFIGURATION_TOOL_DIMENSION_CONFIGURATION] FOREIGN KEY([CONFIG_ID])
REFERENCES [dbo].[TOOL_DIMENSION_CONFIGURATION] ([ID])
GO
ALTER TABLE [dbo].[DIMENSION_CONFIGURATION] CHECK CONSTRAINT [FK_DIMENSION_CONFIGURATION_TOOL_DIMENSION_CONFIGURATION]
GO
ALTER TABLE [dbo].[RAW_MATERIAL_CONFIG]  WITH CHECK ADD  CONSTRAINT [FK_RAW_MATERIAL_CONFIG_TOOL_TYPE_RM_CONFIGURATION] FOREIGN KEY([CONFIG_ID])
REFERENCES [dbo].[TOOL_TYPE_RM_CONFIGURATION] ([ID])
GO
ALTER TABLE [dbo].[RAW_MATERIAL_CONFIG] CHECK CONSTRAINT [FK_RAW_MATERIAL_CONFIG_TOOL_TYPE_RM_CONFIGURATION]
GO
ALTER TABLE [dbo].[STAGES]  WITH CHECK ADD  CONSTRAINT [FK_STAGES_TOOL_STAGES_CONFIGURATION] FOREIGN KEY([CONFI_ID])
REFERENCES [dbo].[TOOL_STAGES_CONFIGURATION] ([ID])
GO
ALTER TABLE [dbo].[STAGES] CHECK CONSTRAINT [FK_STAGES_TOOL_STAGES_CONFIGURATION]
GO
